* {
    padding: 0;
    margin: 0;
}

:root {
    --base-color: #ddbbff;
}

body {
    background-color: #222222;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

header {
    width: 100vw;
    height: 100px;
    background-color: #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

main {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.menu {
    display: flex;
    position: relative;
}

.menu-title {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 300px;
    height: 50px;
    background-color: var(--base-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px #22222240;
    border-radius: 5px 5px 10px 10px;
    transition: transform 200ms ease-in-out;
}

.menu-title:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.fade-in {
    animation: fade-in 500ms ease-out 100ms forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 500ms ease-in forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.menu-item {
    list-style: none;
    width: 300px;
    height: 50px;
    padding-top: 10px;
    background-color: var(--base-color);
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px #22222240;
    display: flex;
    transition: transform 1s, color 300ms ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
    opacity: 0;
}

.menu-item:hover {
    cursor: pointer;
    color: white;
}

.mobile-menu {
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100vw;
    background-color: var(--base-color);
    display: flex;
    overflow-x: scroll;
}

.mobile-menu ul {
    display: flex;
    flex: 0 0 auto;
}

.mobile-menu .menu-item,
.mobile-menu .menu-title {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 150px;
    border-radius: 0;
}
